/* LES BODY */

.bodydisco {
    background-image: url("photo/backgrounddisco.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bodybio {
    background-image: url("photo/backgroundbio.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.bodycontact {
    background-image: url("photo/backgroundcontact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* FIN BODY */

/*HEADER & FOOTER*/

nav {
    position: sticky;
    width: 100%;
    backdrop-filter: blur(5px);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: rgb(56, 39, 16);
    text-shadow: 2px 2px 2px white;
}

footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3%;
    margin-top: 10%;
    backdrop-filter: blur(5px);
}

a {
    color: black;
    text-shadow: 2px 2px 2px white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-decoration: none;
}

.secfoot {
    display: flex;
    justify-content: space-between;
}

.foot1 {
    color: white;
    display: flex;
    flex-direction: column;
}

.foot2 {
    display: flex;
    align-items: flex-end;
    box-shadow: 10px 5px 5px black;
}

.image {
    height: 145px;
    width: 150px;
}

.formulairecontact {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 5px solid;
    border-radius: 1em;
    box-shadow: 10px 5px 5px blueviolet;
    margin-top: 10%;
}

.secfootlogo {
    display: flex;
    align-items: flex-end;
}

/* FIN HEADER FOOTER */

/* DEBUT DISCOGRAPHIE */

.disco {
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    margin-top: 50px;
}

.disco2 {
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    margin-top: 50px;
}

.imgdisco {
    width: 20%;
    height: 12%;
    margin-top: 7%;
    margin-left: 3%;
    display: flex;
}

.imgdisco2 {
    width: 20%;
    height: 12%;
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
}

.video {
    display: flex;
    margin-top: 7%;
    margin-right: 4.5%;
}

.video2 {
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 4.5%;
}

iframe {
    border-radius: 3%;
}

/* FIN DISCOGRAPHIE */

/* TITRE */

.titredisco {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 50pt;
    font-family: 'Luckiest Guy';
    color: burlywood;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1), 0 6px 3px rgba(0, 0, 0, .3), 0 12px 6px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .25), 0 24px 24px rgba(0, 0, 0, .2), 0 36px 36px rgba(0, 0, 0, .15);
}

.titrebio {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 50pt;
    font-family: 'Luckiest Guy';
    color: burlywood;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1), 0 6px 3px rgba(0, 0, 0, .3), 0 12px 6px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .25), 0 24px 24px rgba(0, 0, 0, .2), 0 36px 36px rgba(0, 0, 0, .15);
}

.titrecontact {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 50pt;
    font-family: 'Luckiest Guy';
    color: blueviolet;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1), 0 6px 3px rgba(0, 0, 0, .3), 0 12px 6px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .25), 0 24px 24px rgba(0, 0, 0, .2), 0 36px 36px rgba(0, 0, 0, .15);
}

/* FIN TITRE */

/* DEBUT BIOGRAPHIE */

.biographie1 {
    background-color: #6e4813ab;
    text-shadow: 1px 1px 1px bisque;
    color: beige;
    border-style: groove;
    border-radius: 11%;
    display: flex;
    align-items: center;
    padding: 2%;
    -webkit-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    margin-top: 5%;
    padding-top: 4%;
}

.imgbio {
    border-radius: 4%;
    backdrop-filter: blur(5px);
    height: 15%;
    width: 20%;
}

.biographiephoto {
    border-radius: 11%;
    display: flex;
    align-items: center;
    padding: 2%;
    -webkit-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    margin-top: 5%;
    background-image: url("photo/kanyebio2.jpg");
    background-size: cover;
    height: 400px;
    width: 80%;
}

.biographiephoto1 {
    border-style: groove;
    backdrop-filter: blur(5px);
    border-radius: 11%;
    display: flex;
    align-items: center;
    padding: 2%;
    -webkit-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    margin-top: 5%;
    background-image: url("photo/kanyebio4.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 2400px;
}

.kanyeJ {
    display: flex;
    flex-direction: row;
}

#biokanye {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

#biokanye1 {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

/* FIN BIOGRAPHIE */

/* yeezy */

#bodyeezy {
    background-image: url("photo/yeezyback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.imageyeezy {
    height: 200px;
    width: 250px;
}

.imageyeezy:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.bande1 {
    margin-top: 200px;
    display: flex;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.603);
}

.small {
    display: flex;
    flex-direction: column;
    color: white;
    width: 500px;
    margin-right: 100px;
    margin-left: 20px;
    border: solid 1px white;
    padding: 1%;
    -webkit-box-shadow: 13px 10px 5px -3px rgba(255, 255, 255, 0.66);
    -moz-box-shadow: 13px 10px 5px -3px rgba(255, 255, 255, 0.66);
    box-shadow: 13px 10px 5px -3px rgba(255, 254, 254, 0.66);
}

h3 {
    color: white;
    margin-left: 5px;
    text-shadow: 1px 1px 2px white;
    font-style: oblique, italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bande2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 27, 27, 0.603);
    margin-top: 30px;
}

#medium {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#big {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

/* fin yeezy */

/* DEBUT ACCUEIL */

.body1 {
    background-image: url("photo/kanye.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#videoaccueil {
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
}

/* FIN ACCUEIL */